@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  margin: 15px 0;
  line-height: 1.8;
}

.blog-text ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.blog-text pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.blog-text h1 {
  font-size: 35px;
}

.blog-text h2,
.blog-text h3,
.blog-text h4 {
  font-size: 27px;
}
